In [ ]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
'''
Ans : # is the single line comment and for multiple line we use ''',''' or ""","""
'''

In [ ]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
'''
Ans :
1.Variable must start with latter or uderscore charactor
2.A variable cant start with number
3.A variable can contain alpha numeric charactor and undercore (A-z,0-9,and _)
4.A variable name are case sensative (age,Age and AGE are three different variable)
5.A variable name cannot be any of python keywords

Legal variable name:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Multi Words Variable Names :
Camel Case (myVariableName = 'Satish')

Pascal Case:
MyVariableName = "Satish"

Snake Case
my_variable_name = "Satish"

Many value to multiple Variable 
x,y,z = 'satish','rajamouli','Vemula'

one value to Multiple Variable
x = y = z = 'satish'

In [ ]:
#Q3. How do you convert one data type to another in Python?

In [15]:
a = str(2)
print(type(a))
a

<class 'str'>

'2'

In [14]:
b = float("3")
print(type(b))
b

<class 'float'>

3.0

In [ ]:
#Q4. How do you write and execute a Python script from the command line?

In [ ]:
'''
Ans :
open a command line and type the word python followed by the path to your script file like this: python first_code.py
run the code

In [ ]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [20]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

In [ ]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
'''
Ans :
I mathematics a complex numbe is number that can be expressed in the form of a+bi, where a and b real number and i is imaginary unit.

in python a complex number is number that can be expressed in the form of a+bj, where a and b is real number and j is imaginary unit which is the square 
root of -1

In [ ]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [21]:
age =25

In [22]:
age

25

In [ ]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [23]:
price = 9.99
print(type(price))
price

<class 'float'>

9.99

In [ ]:
#Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [25]:
name = 'Satish Rajamouli Vemula'
print(type(name))
print(name)

<class 'str'>
Satish Rajamouli Vemula

In [ ]:
#Given the string "Hello, World!", extract the substring "World".

In [31]:
a ="Hello, World!"
print(a)
print(len(a))
a[7:14]

Hello, World!
13

'World!'

In [ ]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [37]:
is_student = True
if is_student == True:
    print("Yes im a student")

Yes im a student